body,
body * {
	font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
}

body pre,
body code {
	font-family: "Inconsolata", "Monaco", "Courier", monospace;	
}

#menu {
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #666;
	padding: 0;
	padding-bottom: 5px;
	text-align: right;
}

#menu li {
	display: inline-block;
	margin: 0 0.25em;
	padding: 0;
}

#menu li.title {
	float: left;
	font-weight: bold;
}

a,
a:visited {
	text-decoration: none;
	color: #1c72ff;
}

a:hover {
	text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
}

.message {
	text-align: center;
	border: 3px solid #000;
	margin: 15px 0;
	padding: 10px;
	position: relative;
}

.message.error {
	border-color: #f00;
	color: #f00;
	background-color: #ffbfbe;
}

.message.success {
	border-color: #078c10;
	color: #078c10;
	background-color: #B2D8B4;
}

.message .close {
    position: absolute;
    width: 36px;
    height: 36px;
    top: -19px;
    left: -19px;
    background: transparent url(../images/close-button.png) scroll no-repeat top left;
}

h3 {
	margin: 10px 0;
}

table {
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	font-size: 10pt;
	vertical-align: top;
}

table td p,
table td li,
table td a {
	font-size: 10pt;
}

td p:first-child {
	margin-top: 0;
}

td p:last-child {
	margin-bottom: 0;
}

td.id,
td.price {
	text-align: right;
}

tr:hover td {
	background-color: #eee;
}

table th.actions {
	border: none;
}

td.no-records {
	text-align: center;
	font-style: italic;
	background-color: #eee;
}

td.available,
td.active {
	text-align: center;
	vertical-align: middle;
}

td.question-count {
    text-align: center;
}

input[type=text].required,
textarea.required {
	background-color: #ff9594;
}

label {
    display: block;
}

label.inline {
    display: inline;
}